@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-inter: 'Inter', sans-serif;
}

.custom-inter {
  font-family: var(--custom-inter);
  font-feature-settings: 
    "cv01" 1, /* Alternate one */
    "cv09" 1, /* Flat-top three */
    "cv02" 1, /* Open four */
    "cv03" 1, /* Open six */
    "cv04" 1, /* Open nine */
    /* "zero" 1,  */
    "tnum" 1; /* Tabular numbers */
}